@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Square+Peg&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}


.contenido-inicio{
    margin: 10%;
    padding: 2%;
}

.item-inicio{
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
    border: black solid;
    border-radius: 4px;
    box-shadow: 4px;
}



h1{
    background-color: rgb(38, 94, 151);
    padding-top: 40px;  
    text-shadow: 3px #000;
    font-size: 60px;
    font-family: Square, cursive;
    opacity: 0.8;
}
header{
    border-bottom: 2px solid black;
}

h2{
    font-size: 3rem;
    text-decoration: underline;
}


.intro{
    margin: 5%;
    padding: 2%;
}

a{
    text-decoration: none;
    font-size: larger;
}




h3{
    padding: 10px;
    margin: 10px;
}

div p{
    padding: 10px;
    margin: 5px;
}

main  p{
  width: auto;
  padding: 10px;
  margin: 10px;
}

.derecho{
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin: 10px;
    padding: 10px;
}



.formulario{
    margin-top: 10%;
    width: 100%;
    max-width: 1100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}


.formulario form .campo, textarea {
    width: 60%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.formulario form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

form{
    margin: 8%;
}

.formulario h2{
    margin: 8%;
}

.formulario h2 p{
    font-size: larger;
}
.botEnviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: lightblue;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.formulario .botEnviar:hover{
    background: #e39403;
} 

.ubicacion{
    padding-bottom: 20px;
}

.ubicacion2{
    justify-content: center;
}

main p{
    margin: 8%;
    padding: 2%;
    font-size: larger;
    font-weight: 100;
}

footer{
    width: 100%;
    padding: 50px 0px;
    background-color: antiquewhite;
}

.contenedor-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.conte-footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.nosotrosFooter .logo img {
 width: 180px;
}

.nosotrosFooter{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500px;
    color: #7a7a7a;
    font-size: 18px;
}

.conte-footer h2{
   margin-bottom: 30px;
   font-weight: 700;
}

.conte-footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.conte-footer a:hover{
    opacity: 0.8;
}

.conte-footer a .fab{
    font-size: 20px;
}

.conte-copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.conte-copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.conte-copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}


header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: whitesmoke;
}

.conteheader{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
}

header .logoheader{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logoheader{
    width: 100px;
}

.style-nav{
    position: relative;
    height: 100%;
}

nav{
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin: 0px 20px;
    list-style: none;
}

nav ul li a{
    color: #373737;
    font-size: 14px;
}

.buttom{
    background-color: lightblue;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}


section{
    margin-top: 10%;
    margin-bottom: 10%;
}


@media screen and (max-width:800px){
    .formulario{
    width: 100%;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}

 .header{
     flex-direction: column;
 }

}

